body {
    background-image: url('../images/1.jpg');
    background-size: cover;
}
p,h1 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 12px;
}
main {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

main.biggerWidth {
    width: 60%;
}

main img {
    width: 80px;
    margin-top: 10%;
}

section {
    background-color: white;
    padding: 20px;
}

#LoginFormContainer {
    text-align: left;
}

#headingDescription {
    margin: 10px 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.custom-input {
    width: 80%;
    border: 1px solid #9b9a9a;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}

button {
    background-color: #003877;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
}

#formSection {
    display: flex;
}

#formSection aside {
    flex-grow: 1;
}

textarea {
    resize: none;
}